<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MailFrom" value="---config your email---" />
    <add key="Password" value="---your email password---" />
    <add key="DisplayName" value="---config your display name---" />
    <add key="SMTPServer" value="---config your smtp server---" />
    <add key="SMTPServerPort" value="---config smtp server port---" />
    <add key="DataDir" value="..\..\Data"/>
    <add key="MailConfigTemplate" value="mail_queue_templ.xlsx" />
    <add key="Retry" value="3" />
    <add key="WaitingTime" value="5000"/>
  </appSettings>
</configuration>